# Remove .DS_Store files recursively in a directory, default .
function rmdsstore() { find "${@:-.}" -type f -name .DS_Store -delete }

# Create a new directory and enter it
function mkd() { mkdir -p "$@" && cd "$_"; }
